body {
    margin: 0;
}

.inputContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    max-width: 1200px;
}
.row{
    display: flex;
    justify-content: center;
}
.inputWrapper{
    margin: 0 40px 0 40px;
    flex-grow: 1;
}
.inputWrapper input{
    width: 100%;
    height: 50px;
    font-size: 24px;
}
.inputWrapper h2{
    width: 100%;
    text-align: center;
}
.decodedInstructionWrapper{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1.pageTitle{
    text-align: center;
    margin-top: 100px;
}
h1, h2, h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.bitError{
    width: 80%;
    margin: auto;
    text-align: center;
    color: red;
    opacity: 0;
    font-size: 22px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
    min-height: 4vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer a {
    color: white;
    text-decoration: none;
}

#format_r, #format_i, #format_j{
    display: none;
}

#instruction_mnemonic{
    font-family: "Consolas", monospace;
    font-weight: bold;
}